.fuse_hidden*
public/.fuse_hidden*

analyze movie.ipynb

*.pyc

example_dat.txt

juicebox_debugger/bluetooth.html

juicebox_debugger/bluetooth.js

hellodropbox.html

.DS_Store


upload_ptap_to_mturk.py
upload_ptap_to_scratch.py
upload_ptap_to_upstairs.py